.home{
    margin-bottom:8rem;
}

.home nav img{
    width: 100px;
    height: 100px;
}

.home nav{
    display: flex;
}

.navlist{
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: 1rem;
    align-items: center;
}

.navlist li{
    padding: 0.3rem;
    font-size: 1.2rem;
}

.navlist li button{
    border-radius: 4px;
    padding: 6px;
    background-color:#2D2C4C;
}

.navlist li button a{
    color: white;
}

.navlist li button:hover{
    background-color: #9c9add;
}

.navlist li button a:hover{
    color:black;
}


.navlist a{
    text-decoration: none;
    color:#2D2C4C;
    font-weight: bold;
}

.navlist a:hover{
    color: #9c9add;
}

.homecontent h1,h2 {
    color:#2D2C4C;
    align-items: center;
    display: flex;
    justify-content: center;
}

.homecontent p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #2D2C4C;
    display: flex;
    justify-content: center;
}

.team{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    margin-top: 2rem;
    align-items:center;
    gap:1rem;
}

.teammember {
    background-color: #2D2C4C;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* Adds hover effect */
}

.member:hover {
    transform: translateY(-10px); /* Hover effect for members */
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
    margin: 0 auto 10px;
}