/* Navbar.css */

/* Sidebar styles */
.sidebar {
    background-color: #2D2C4C;
    color: #FFFFFF;
    width: 12rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-top:0;
    position: fixed;
    overflow-y: hidden; /* Ensures scroll behavior if content overflows */
}

.logo-image {
    width: 10rem;
    height: 8rem;
    margin-left: 0.4rem;
    margin-top: -0.2rem;
    margin-bottom: 0.2rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    width: 100%;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
    transition: background 0.3s;
}

.sidebar-item.active,
.sidebar-item:hover {
    background-color: #414063;
}

.sidebar-item-logout {
    margin-top: auto;
    margin-bottom: 1rem;
    padding: 15px;
    width: 100%;
    color: #FF6666;
    text-decoration: none;
}

/* Content wrapper styles */
.content {
    margin-left: 250px; /* Same width as sidebar */
    padding: 20px;
}
